@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;800&display=swap');



*{
    margin: 0;
    padding: 0;
    
font-family: 'Work Sans', sans-serif;


}
/* header navbar style start from here */
nav{
    width: 100%;
    background-color: #fff;
    border: 1px black;
}
.nav-container {
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    max-width: 1440px;
    margin:0 auto;
    
    
}
.nav-items-container{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    gap: 20px;
    }
    
    
    .nav-items-container a {
        text-decoration: none;
    }
.logo-picture {
    width: 90px;
    object-fit: cover;
    margin-right: 10px;
    color: black;
}
.logo-title1{
  color:black;
  padding-top: 0%;
  text-align: center;
  font-size: 45px;
}
.logo-container{
    align-items: center;
    display: flex;
    width: 50%;
    color: black;
}
.banner-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    gap: 25px;
}

.title-s{
    color: rgb(173, 7, 173)
}
.logo-title{
    font-size: 30px;
    font-weight: 800;
}
.btn-follow{
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px 20px;
gap: 10px;
}

/* the banner section style start from here  */


.banner-container{
    display: flex;
  justify-content: space-around;
    max-width: 1440px;
  margin: 0 auto;
  align-items: center;
    
}
.banner-title{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.play{
  color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
  
}
.the-goat{
    
  text-align: center;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
 .banner-title ul{
    text-decoration: wavy;
    font-size: large;
    font-weight: 400px;
    padding: 5px;
}



.image-banner{
    width: 50%;
   
    /* object-fit: cover; */
}
.gammer-img{
    width: 90%;
  height: 90%;
}
.btn-primary1{
    cursor: pointer;
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: aliceblue;

}

.btn-primary2{
    cursor: pointer;
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 48px;
background: #4EC5F7;
color: aliceblue;

}

/* online games style  */
.online-games-title{
    max-width: 1440px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.card-container{
    display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.title-color{
    color: #F948B2;
}
.all-card img{
    width: 250px;
  height: 300px;
  
}
.all-card:hover img {
    border-radius: 20px;
    border: 1.5px solid #f948b2;
}
ul >li{
  align-items: center;
  list-style: none;
  margin-top: 0;
}

.description{
    font-size: 12px;
  font-weight: 500;
 margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
  word-wrap: break-word;
  width: 80%;
  align-items: center;
 display: flex;
 
    
}
.description1{
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
  align-items: center;

}

/* play online section style  */
.play-online-container{
    display: flex;
    align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-top: 20px;
  gap: 30px;
  margin: 0 auto;
}
.title-text h1{
    font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 50%px;
  
}
.banner-images{
    position: relative;
}
.img1{
    width: 80%;
  height: 100%;
  z-index: 1;
}
.img1 img{
    width:100%
    
}

.img2 {
    width: 75%;
    position: absolute;
    top: 70%;
    right: 35%;
    z-index: 2;
  }
  .img2 img {
    width: 45%;
    height: fit-content;

  }

  /* others game section style  */

  .others-game-section{
    display: flex;
  
  }
  .others-game-con{
    max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-content: center;
  padding: 50px;
  }

  .game-title  {
    
    display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 30px;
  background: #ffffff;
  padding: 10px 15px;
 
  
  
  }
.all-games{
  flex-basis: 200px;
    
  
}


.game-title:hover {
    color: #35ff1b;
    border: 2px solid #f948b2;

}
.game-title img{
  width: 40px;
height: 40px
}

/* footer styles  */

.footer-section{
  background: #0B0223;
  min-height: 500px;
  margin: 0 auto;
  padding: 20px 0px;
}
.logo-footer{
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 200px;
  margin-bottom: 0px;
  


}
.logo-title{
  color: whitesmoke;
  padding-top: 0%;
  text-align: center;
}

.footer-logo-container{
  
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.down-menu{
  display: flex;
  gap: 20px;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  margin-bottom: 30px;
  cursor: pointer;
  
}
.all-icons{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  gap: 7px;
  width: 35%;
  margin: 0 auto;
  cursor: pointer;
  align-items: center;

}
.footer-all-container{
  color: white;
  text-align: center;
  margin: 0 auto;
}
.privacy{
  display: inline-flex;
padding: 10px;
align-items: flex-start;
gap: 60px;
color: rgba(255, 255, 255, 0.60);
padding: 10px;
}
.copyright{
  color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 10px;
}